<!-- templates/articles/books_upload.html -->
{% extends 'articles/base.html' %}
{% block content %}

<div class="container">
    <h2>Загрузить JSON-файл с книгой</h2>

    <div class="article-card" style="max-width: 500px; margin: 0 auto;">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.file.label }}:</p>
            {{ form.file }}
            <br><br>
            <button type="submit" class="btn">Загрузить файл</button>
        </form>
    </div>

    <div style="margin-top: 20px; text-align: center;">
        <a href="{% url 'books_list' %}" class="btn">← Назад к списку книг</a>
    </div>
</div>

{% endblock %}